.App {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  color: #1b1b1b;
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  padding-bottom: 50px;
}

img {
  height: 32px;
}

.image-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 1320px) {
  .App {
    width: 90%;
    font-size: 24px;
  }
  .header {
    font-size: 50px;
  }
  .image-wrapper {
    width: 50%;
  }

}
