.App {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  color: rgb(27, 27, 27);
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  padding-bottom: 50px;
}

img {
  height: 32px;
  transition: ease all .3s;
}

.image-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 100px;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

img:hover {
  -webkit-mask-filter: rgb(0, 255, 255);
  -moz-mask-filter: rgb(0, 255, 255);
  filter: drop-shadow(10px 10px 15px rgb(0, 255, 255)) invert(25%);
  -webkit-transition: ease all .3s;
  -moz-transition: ease all .3s;
  transition: ease all .3s;

}

@media only screen and (max-width: 1320px) {
  .App {
    width: 90%;
    font-size: 24px;
  }
  .header {
    font-size: 50px;
  }
  .image-wrapper {
    width: 50%;
  }

}
