body {
  background: rgb(250, 250, 250);
}

.App {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  color: rgb(27, 27, 27);
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.content {
  z-index: 100;
}

.header {
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  padding-bottom: 50px;
  white-space: nowrap;
}

img {
  height: 32px;
  transition: ease all .3s;
}

.image-wrapper {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-top: 100px;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

img:hover {
  filter: invert(35%);
  -webkit-transition: ease all .5s;
  -moz-transition: ease all .5s;
  transition: ease all .5s;

}

::selection {
  background: rgba(106, 106, 179, 0.591);
}
::-moz-selection {
  background: rgba(106, 106, 179, 0.591);
}

 /* ======================= TABLET MEDIA QUERY ========================= */
@media (max-width: 1320px) {
  .App {
    width: 90%;
    font-size: 22px;
  }
  .header {
    font-size: 70px;
  }
  .image-wrapper {
    margin-left: 0px;
  }

}

/* ======================= MOBILE MEDIA QUERY ========================= */

@media (max-width: 640px) {
  br {
    display: block;
    margin: 2.5em;
    font-size: 24%;
    content: "";
    }

  .header {
    padding-bottom: 5vh;
  }

  .image-wrapper {
    width: 60%;
    margin-top: 5vh;
    margin-left: 0px;
  }

  .arrow {
    position: absolute;
    right: 0px;
  }
}

/* ======================= TINY MOBILE SCREENS ============================ */ 

@media (max-width: 320px) { 
  .header {
    font-size: 60px;
  }

  .App {
    font-size: 20px;
  }
}

 /* =============================== BACKGROUND ANIMATION ==================== */

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position:fixed;
}

.circle-first {
  position: absolute;
  top: -15vh;
  right: -20vh;
  border-radius: 50%;
  width: 100vh;
  height: 100vh;
  background:  rgba(109, 176, 135, .2);
  opacity: 0.7;
  -webkit-animation: Moving 70s ease;
	-moz-animation: Moving 70s ease;
  animation: Moving 70s ease;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle-second {
  position: absolute;
  top: 60vh;
  right: 10vh;
  z-index: 10;
  border-radius: 50%;
  width: 200vh;
  height: 200vh;
  background: rgba(241, 204, 112, .4);
  opacity: 0.7;
  -webkit-animation: MovingBottomCircle 70s ease;
	-moz-animation: MovingBottomCircle 70s ease;
  animation: MovingBottomCircle 70s ease;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} 

@keyframes Moving {
   0%, 100% {
    transform: translate(4%, -40vh);
  }
  50% {
    transform: translate(10%, -10vh);
  }  
}

@keyframes MovingBottomCircle {
   0%, 100% {
    transform: translate(6%,  10vh);
  }
  50% {
    transform: translate(20%,  -30vh);
  }  
}